#about {
  scroll-margin-top: 40px;
}

.about {
  max-width: 1400px;
  margin-inline: auto;
  padding: 48px 32px;
}

.about h1 {
  font-size: 108px;
  font-weight: 600;
  color: var(--gray-color-300);
  margin-bottom: 88px;
  transition: all 1s ease;
}

.about__paragraphContainer {
  display: flex;
  justify-content: space-between;
}

.about__paragraphContainer>* {
  max-width: 620px;
  flex: 1;
}

.about__paragraphContainer h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}

.about__paragraphContainer p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: var(--gray-color-800);
  margin-bottom: 20px;
}

.about__paragraphContainer div h3 {
  font-size: 24px;
  margin-bottom: 32px;
}

.about__paragraphContainer div h3 span {
  color: var(--gray-color-400);
}

/* Media Queries */
@media (max-width: 1400px) {

  .about h1 {
    font-size: 72px;
    margin-bottom: 80px;
  }

  .about__paragraphContainer {
    gap: 80px;
  }

  .about__paragraphContainer>* {
    max-width: 568px;
  }
}

@media (max-width: 810px) {
  .about {
    padding: 40px 20px;
  }

  .about h1 {
    font-size: 64px;
    margin-bottom: 48px;
  }

  .about__paragraphContainer {
    flex-direction: column;
    gap: 24px;
  }

  .about__paragraphContainer:nth-of-type(2) {
    gap: 16px;
  }

  .about__paragraphContainer div h3 {
    margin-bottom: 24px;
  }
}
