footer {
  border-top: 1px solid #98A2B3;
}

.footer__contact {
  max-width: 1400px;
  padding: 48px 32px;
  margin-inline: auto;
  text-align: center;
}

.footer__contact h2 {
  font-size: 108px;
  line-height: 120px;
  font-weight: 600;
  margin-bottom: 32px;
}

.footer__contact .link {
  display: inline-block;
  font-weight: 600;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 12px 24px;
  border-radius: 100px;
  text-decoration: none;
}

.footer__contact .link:hover {
  background-color: var(--gray-color-500);
}

.footer__siteinfo {
  max-width: 1400px;
  padding: 30px 32px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__siteinfo .links {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

.footer__siteinfo .links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
}

.footer__siteinfo p {
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
}

@media (max-width: 1400px) {
  .footer__contact h2 {
    font-size: 80px;
    line-height: 95px;
    margin-bottom: 40px;
  }
}

@media (max-width: 810px) {
  .footer__contact {
    padding: 40px 20px;
  }

  .footer__contact h2 {
    font-size: 62px;
    line-height: 74px;
    margin-bottom: 24px;
  }
}
