/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.worksection {
  max-width: 1400px;
  margin-inline: auto;
  padding: 96px 32px 48px 32px;
}

/* Cards Container */
.worksection__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.worksection h1 {
  font-size: 108px;
  line-height: 120px;
  font-weight: 600;
  margin-bottom: 96px;
  color: var(--gray-color-300);
  transition: all 1s ease;
}

.worksection img {
  max-width: 652px;
  height: auto;
  border-radius: 40px;
}

/* Cards Hover Screen */
.card:hover .hovercontainer {
  opacity: 1;
  visibility: visible;
}

.hovercontainer {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  -o-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hovercontainer__content {
  padding: 48px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cardname {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray-color-100);
  margin-bottom: 24px;
}

.cardparagraph,
.cardparagraph li {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-color-300);
  margin-bottom: 10px;
}

.cardcontentlist {
  padding-left: 20px;
}

.link {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  padding: 12px 24px;
  background-color: var(--white-color);
  border-radius: 100px;
  color: var(--black-color);
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  background-color: var(--gray-color-300);
}

.mobilelinks {
  pointer-events: none;
  text-decoration: none;
}

.mobilenames {
  display: none;
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
  text-decoration: none;
  color: var(--black-color);
}

@media (max-width: 1400px) {
  .worksection {
    padding: 96px 32px 48px 32px;
  }

  .worksection h1 {
    font-size: 72px;
    margin-bottom: 80px;
  }

  .worksection__cards {
    gap: 48px;
  }

  .worksection .card {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .worksection img {
    max-width: 100%;
  }
}

@media (max-width: 810px) {
  .worksection {
    padding: 80px 20px 40px 20px;
  }

  .worksection h1 {
    font-size: 64px;
    margin-bottom: 32px;
  }

  .worksection__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .worksection .card {
    border-radius: 0;
  }

  .worksection img {
    border-radius: 20px;
  }

  .worksection .hovercontainer {
    display: none;
  }

  .worksection .mobilelinks {
    pointer-events: all;
  }

  .worksection .mobilenames {
    display: block;
  }
}
