@import "tailwindcss";

@theme {
  --font-satoshi: "Satoshi-Variable", sans-serif;
  --font-jakartasans: "Plus Jakarta Sans", sans-serif;

  --color-background: #ffffff;
  --color-text-primary: #16132e;
  --color-accent: #7f77dd;
  --color-accent-dark: #3c3489;
  --color-surface: #f5f4fe;
  --color-text-secondary: #888780;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
